*{
    outline: none;
}
.toggle {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;  
    width: 100px;

    height: 10px;
    border-radius: 40px;
    
    
}

.toggle input{
    width: 45px;
    height: 45px;
    top: 0px;
    margin-left: auto;
    left: 0px;
    right: 0px;
    
}

input[type='radio']:after {
    width: 45px;
    height: 45px;
    top: 0px;
    left: 0px;
    position: relative;
    background-color: #15202b;
    content: '';
    display: inline-block;
    visibility: visible;
    border-radius: 100px;
    -webkit-box-shadow: inset 5px 5px 8px -1px rgba(0, 0, 0, 0.445); 
    box-shadow: inset 5px 5px 8px -1px rgba(0, 0, 0, 0.596);
   
}

input[type='radio']:checked:after {
    width: 45px;
    height: 45px;
    top: -2px;
    left: -1px;
    color: rgb(0, 255, 221);
    position: relative;
    background-color: #e0245e;
    -webkit-box-shadow: 0px 0px 15px -1px #e0245e; 
    box-shadow: 0px 0px 15px -1px #e0245e;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #e0245e;
}   
